#include "resource.h"
#include <windows.h>

// Application icon
IDI_MAIN_ICON ICON "app.ico"

// Version information
VS_VERSION_INFO VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEFLAGS 0x0L
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "YOLO Detection App"
            VALUE "FileDescription", "YOLO Object Detection Application"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "YOLODetectionApp"
            VALUE "LegalCopyright", "Copyright (C) 2025"
            VALUE "OriginalFilename", "YOLODetectionApp.exe"
            VALUE "ProductName", "YOLO Detection App"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END